.plansScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}
.plansScreen__info > h5,
h6 {
  margin: 0px;
  font-size: 1rem;
}
.plansScreen__plan:hover {
  opacity: 1;
}
.plansScreen__button {
  height: 40px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
}
.plansScreen__plan__disabled {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}
.plansScreen__plan__disabled > button {
  background-color: gray !important;
  height: 40px;
  padding: 10px 20px;
  font-size: 1rem;

}

